/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 10px;
}

/* Make the video cover the entire background responsively */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Dashboard styling */
.dashboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  max-width: 50%;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 50vh; /* Occuper 50% de la hauteur de l'écran */
  width: 80vw; /* Ajuster la largeur */
  margin: 0 auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

/* Responsive Typography */
.dashboard-container h1 {
  font-size: 3vw;
}

.dashboard-container p {
  font-size: 2vw;
}

/* Media Queries for Smaller Screens (e.g., tablets, smartphones) */
@media (max-width: 768px) {
  #background-video {
    height: 100vh;
  }

  .dashboard-container {
    max-width: 90%;
    margin-top: 5vh;
  }

  .dashboard-container h1 {
    font-size: 6vw;
  }

  .dashboard-container p {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .dashboard-container h1 {
    font-size: 7vw;
  }

  .dashboard-container p {
    font-size: 4vw;
  }
}
